

<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Editar el  departamento</li>
        </ol>
                  <h4 class="text">Departamento <%= @departamento.id_departamento%> </h4>

<div>
<%= render "form", departamento: @departamento %>
</div>
<br>


