
<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Reporte</a></li>
          <li class="breadcrumb-item active">Registrar nuevo reporte</li>
        </ol>
                  <h4 class="text">Nuevo reporte </h4>
</div>
 <div class="probar">

<%= render "form", reporte: @reporte %>

<br>

<div>
  <%= link_to "Regresar a reportes", reportes_path %>
</div>
