
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Tipo</a></li>
          <li class="breadcrumb-item active">Editar del tipo</li>
        </ol>

</div>
<%= render "form", shape: @shape %>

<br>


