
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Editar el  departamento</li>
        </ol>
                  

                  <div>
<%= render "form", departament: @departament %>




  <%= link_to "Ver departamento", @departament %> |
  <%= link_to "Regresar a departamento", departaments_path %>
</div>
