<div id="<%= dom_id licence %>">
<p>
    <strong>Nombre:</strong>
    <%= licence.nombre %>
  </p>
  <p>
    <strong>AÑO:</strong>
    <%= licence.anio %>
  </p>
  <p>
    <strong>Numero_licencia:</strong>
    <%= licence.num_licencia %>
  </p>

</div>
