<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Licencia</a></li>
          <li class="breadcrumb-item active">Registrar nueva licencia</li>
        </ol>

<%= render "form", licence: @licence %>

<br>

<div>
  <%= link_to "Regresar a licencias", licences_path %>
</div>
