<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Areas</a></li>
          <li class="breadcrumb-item active">Editar el  area</li>
        </ol>
                  <h4 class="text">Area <%= @area.id_area%> </h4>


<%= render "form", area: @area %>

<br>

<div>
  <%= link_to "ver area", @area %> |
  <%= link_to "Regresar a areas", areas_path %>
</div>
