
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Insumo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo insumo</li>
        </ol>
<%= render "form", resource: @resource %>

<br>

<div>
  <%= link_to "Regresar a insumos", resources_path %>
</div>
