<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Herramienta</a></li>
          <li class="breadcrumb-item active">Editar el  herramienta</li>
        </ol>
                  <h4 class="text">Herramienta<%= @herramientum.id_herramienta%> </h4>



<%= render "form", herramientum: @herramientum %>

<br>

<div>

  

</div>
