<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Marca</a></li>
          <li class="breadcrumb-item active">Editar el  marca</li>
        </ol>
                  

<div>

<%= render "form", brand: @brand %>
</div>
<br>

<div>
  <%= link_to "Marcas", @brand %> |
  <%= link_to "Regresar", brands_path %>
</div>
