<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Marcas</a></li>
          <li class="breadcrumb-item active">Registrar nueva marca</li>
        </ol>
        

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Regresar", brands_path %>
</div>
  